{% extends "base.html" %}
{% load static %}
{% block title %} Blog detail {% endblock %}

{% block content %}
<!-- ################### blog Section Begin ################### -->
<style>
    p img {
        max-width: 100% !important;
        height: auto !important;
    }
</style>


<div class="container py-5">

    {% comment %}
    ################################################################################################################################
    {% endcomment %}
    <div class="d-flex flex-column gap-4">
        <div class="detail_title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="d-flex gap-3 flex-wrap" class="date_title">
            <span class="blog_date">{{ post.date_posted|date:"j M Y"}}</span>
            <span class="blog_date">|</span>
            <span class="tags">{% for tag in post.tags.all %}{{ tag.name|capfirst }}{% if not forloop.last%},{%endif%}
                {% endfor %}</span>
        </div>

        <p>
            {{post.content|safe}}
        </p>
        <!-- coomment start -->
        <div>
            <h2 class="comment_title mb-4">Comments</h2>
            <div class="d-flex flex-column row-gap-4">
                {% if user.is_authenticated %}
                <div class="comment-field d-flex flex-column gap-3">

                    <div class="profile d-flex gap-3 align-items-end">
                        {% if user_profile.profile_image %}
                        <img src="{{ user_profile.profile_image.url }}" alt="" class="rounded-circle" width="50"
                            height="50" />
                        {% else %}
                        <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt=""
                            class="rounded-circle" width="50" height="50" />
                        {% endif %}
                        <h4 class="profile_name m-0">{{ user.first_name }} {{ user.last_name }}</h4>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <textarea name="content" class="comment_text" rows="5" cols="10" placeholder="Write your comment...">
                    </textarea>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn_cs">Add Comment</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <p>Please <a href="{% url 'login' %}">log in</a> to leave a commnet</p>
                {% endif %}
               
               
               
                {% for comment in comments%}
                {%empty%}
                <p>No comments yet</p>
            <hr>
                <div class="d-flex flex-column gap-4">
                    <div class="profile d-flex gap-2 align-items-end">
                        <div class="d-flex gap-2 align-items-center">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                alt="" width="32px" height="32px">
                            <h5 class="profile_name m-0">{{ comment.user.first_name }}</h5>
                            <div class="text-secondary ms-3" style="font-size: 12px;">4 min ago</div>
                        </div>
                    </div>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
               
                <hr> 
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- coomment end -->

</div>

<!-- ################### blog Section end ################### -->


{% endblock %}